// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  h1 {
    color: #6ACFB5;
    font-size: 9vh;
  }
  .container {
    margin-top: 185px;
    h2 {
      color: #FF665E;
      font-weight: 300;
      font-size: 4vh;
    }
    a:hover {
      text-decoration: none;
      color: #F0ECF1;
    }
    .btn {
      margin-bottom: 0;
    }
  }
}

.info-container {
  max-width: 900px;
  padding: 0 20px;
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
    font-weight: 300;
  }
}

.igr-btn {
  margin-bottom: 100px;
  color: #F0ECF1;
  font-size: 18px;
}

i {
  font-size: 37px;
  color: #6ACFB5;
}
