.user-activity {
  max-width: 90%;
  margin: 0 auto;
}

.profile {
  margin: 0 auto 50px;
  padding-top: 85px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  .profile-photo {
    margin: 20px auto;
    img {
      width: 150px;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
  }
  .profile-info {
    .user-info {
      font-weight: 300;
    }
  }
}

.cooked-meal-container {
  max-width: 100%;
  margin: 0 auto 50px;
}

.generate-new-plan {
  margin: 50px auto;
  a {
    margin: auto;
    text-align: center;
    // position: fixed;
    // bottom: 30px;
    // z-index: 1;
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.cooked-meal-card {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 8px 15px 8px;
  overflow: hidden;
  img {
    width: 160px;
    height: 100%;
    object-fit: cover;
    background-position: center;
    margin-right: 10px;
  }
  .meal-info {
    margin-top: 8px;
    margin-left: 8px;
    padding-right: 8px;
  }
}

.meal-plan-progress {
  position: sticky;
  top: 20px;
}

.current-meal-plan-card {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  .meal-filter-info {
    font-weight: 300;
    word-wrap: break-word;
  }
  .current-meal-plan-details {
    h3 {
      color: #FF665E;
    }
  }
  .diet-type-icon {
    margin-right: 20px;
    img {
      width: 80px;
    }
  }
}

.current-meal-plan-card-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
    .current-meal-plan-card {
      transform: scale(1.02);
    }
  }
}

.no-diet-type {
  background-color: rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.cooked-meal-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
    .cooked-meal-card {
      transform: scale(1.02);
    }
  }
}
